<main>
	<h1>Welcome to KingUni Wiki!</h1>
	<div class="spacer">
		<h2>{{title}}
			<div class="controls">
				<a href="/edit/{{id}}">[edit]</a>
				<a href="/delete/{{id}}">[delete]</a>
			</div>
		</h2>
		<article>
			<p>
				{{description}}
			</p>
		</article>
	</div>
</main>