<div class="spacer">
	<h2>{{title}}
		<div class="controls">
			{{#if loggedIn}}
				<a href="/edit/{{id}}">[edit]</a>
			{{/if}}
			{{#if match}}

				<a href="/delete/{{id}}">[delete]</a>
			{{/if}}
		</div>
	</h2>
	<article>
		<div>
			<p class="text-style" style="text-indent: 0px;">{{description}}
			</p>

		</div>
	</article>
</div>