<section>
	<h2>Create new article</h2>
	<div class="spacer">
		<form action="create" method="POST">
			<label for="title">Article title</label>
			<input name="title" type="text" class="title" />
			<label>Content</label>
			<textarea name="description"></textarea>
			<input type="submit" value="Submit" />
		</form>
	</div>
</section>