<main>
	<h1>Welcome to KingUni Wiki!</h1>
	<section id="notifications">
		<p>Article description should be at least 20 characters long...</p>
	</section>
	<section>
		<h2>Create new article</h2>
		<div class="spacer">
			<form action="create" method="POST">
				<label for="title">Article title</label>
				<input name="title" type="text" class="title" />
				<label>Content</label>
				<textarea name="description"></textarea>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</section>
</main>

<script>

	// could add js here for errors found on create form
</script>