<section>
	<h2>Edit article
	</h2>
	<div class="spacer">
		<form action="/edit/{{id}}" method="POST">
			<label>Article title</label>
			<h3>{{title}}</h3>
			{{! This hidden input box was added to pass the title along in case of an error and re-rendering the page }}
			<input name="title" type="hidden" class="title" value="{{title}}" />
			<label>Content</label>
			<textarea name="description">{{description}}</textarea>
			<input type="submit" value="Submit" />
		</form>
	</div>
</section>