<section id="featured">
	<h2>Latests articles</h2>
	{{#each data}}
		<div>
			<article>
				<h3>{{title}}</h3>
				<div>
					<p>
						{{description}}
					</p>
				</div>
				<div class="controls">
					<a href="/article/{{id}}">Read more</a>
				</div>
			</article>
		</div>
	{{else}}
		<h1>No Articles Were Found</h1>
	{{/each}}

</section>