<section>
	<h2>Search Results</h2>
	<div class="spacer">
		<ul>
			{{#each data}}
				<li>
					<a href="/article/{{id}}">{{title}}</a>
				</li>
			{{else}}
				<h1>No Articles Were Found</h1>
			{{/each}}
		</ul>
	</div>
</section>